<template name="Create_options">
  <div class='row'>

    <div class='col-xs-12 col-md-6 col-lg-3'>
      <a class='btn btn-primary appear-first' href="../create-company?relType=SUPL">+CLIENTE</a>
      <hr>
    </div>

    <div class='col-xs-12 col-md-6 col-lg-3'>
      <a class='btn btn-primary appear-second' href="../create-company?relType=CUST">+PROVEEDOR</a>
      <hr>
    </div>

    <div class='col-xs-12 col-md-6 col-lg-3'>
      <a class='btn btn-primary appear-third' href="{{pathFor 'createGeneric'}}">+GENERICO</a>
      <hr>
    </div>
    </div>
</template>
