<template name="App_nav">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Cambiar Navegaci&oacute;n</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" href="{{pathFor 'home'}}"><img src="../logoDm130.png" /></a>

      </div>



      <div class="collapse navbar-collapse" id="main-nav">
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{email}} <i class="fa fa-caret-down"></i>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="" data-action="navBarLogout"><i class="fa fa-lock"></i> Salir</a></li>
              </ul>
            </li>
          </ul>
        {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'At.signin'}}" class="btn btn-primary navbar-btn">INGRESAR</a>

          </div>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
          <li ><a href="../"><i class="fa fa-dashboard"></i> PANEL </a></li>
        </ul>
      </div>



    </div>
  </nav>

</template>
