<template name="Contact_rel_edit">
  <div class='panel panel-warning'>
    <div class='panel-heading'>
      EDITAR RELACION DEL CONTACTO
    </div>
    <div class='panel-body' >
      <form role='form' data-action='save-edit'>

      <div class="input-group">
        <label for='notes'>Notas:</label>
        <input id='notes' type="text" class="form-control" placeholder="Notas de la relacion" aria-describedby="basic-addon1" value='{{notes}}'>
      </div>


      <br>
      <button class='btn btn-success' type='submit' >GUARDAR</button>
    </form>

    </div>
  </div>
</template>
